<!-- Three -->
<section>
	{{ if isset .Site.Params.contact "email" }}
		{{ with .Site.Params.contact.title }}<h2>{{ . }}</h2>{{ end }}
		{{ with .Site.Params.contact.content }}<p>{{ . }}</p>{{ end }}
	{{ end }}
		<div class="4u$ 12u$(small)">
			<ul class="labeled-icons">
				{{ if isset .Site.Params.contact "address" }}
				<li>
					<h3 class="icon fa-home"><span class="label"></span></h3>
					{{ range .Site.Params.contact.address }}
						{{ . }}<br />
					{{ end}}
				</li>
				{{ end }}
				{{ if isset .Site.Params.contact "phone" }}
				<li>
					<h3 class="icon fa-mobile"><span class="label"></span></h3>
					{{ .Site.Params.contact.phone }}
				</li>
				{{ end }}
				{{ if isset .Site.Params.contact "jabber" }}
				<li>
					<h3 class="icon fa fa-mobile"><span class="label"></span></h3>
					<a href="#">{{ .Site.Params.contact.jabber }}</a>
				</li>
				{{ end }}
				{{ if isset .Site.Params.contact "email" }}
				<li>
					<h3 class="icon fa-envelope-o"><span class="label"></span></h3>
					<a href="#">{{ .Site.Params.contact.email }}</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
</section>
